body {
    background-image: radial-gradient( circle farthest-corner at 24.7% 28.8%,  rgba(247,183,29,1) 1.9%, rgba(253,239,150,1) 97.7% );
    font-family: Verdana, sans-serif;
    font-size: 1.1rem;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.nav-left{
    display: flexbox;
    padding: 10px 0px 10px 20%;
}

.nav-left img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.nav-right{
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px 0px;
}

.nav-top{
    align-self: flex-end;
    line-height: 130%;
    padding: 10px 0px 2px 0px;
    border-bottom: rgb(79, 91, 102) solid 1px;
}

.nav-bottom{
    align-self: flex-end;
    line-height: 300%;
}

.nav-bottom a{
    color: dimgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-bottom a:hover {
    background-color: #1f5a76;
    color: white;
}

.nav-bottom a.active {
    background-color: #1f5a76;
    color: white;
}

.nav-bottom .icon {
    display: none;
}

.title{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #043f62;
    position: relative;
    margin: 0 0 30px 0;

    -webkit-animation: title-animation 2s;
    -moz-animation: title-animation 2s;
    -ms-animation: title-animation 2s;
    -o-animation: title-animation 2s;
    animation: title-animation 2s;
}

.info-grid {
    margin: 80px 0 80px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-transform: uppercase;
    color: #2e79a6;
}

.info-left {
    position: relative;
    text-align: center;

    -webkit-animation: info-left-animation 2s;
    -moz-animation: info-left-animation 2s;
    -ms-animation: info-left-animation 2s;
    -o-animation: info-left-animation 2s;
    animation: info-left-animation 2s; 
}

.info-right{
    position: relative;

    -webkit-animation: info-right-animation 2s;
    -moz-animation: info-right-animation 2s;
    -ms-animation: info-right-animation 2s;
    -o-animation: info-right-animation 2s;
    animation: info-right-animation 2s; 
}

.info-img {
    width: 500px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px;
}


/* === INFO-LEFT ANIMATION === */
@keyframes info-left-animation {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

/* Firefox < 16 */
@-moz-keyframes info-left-animation {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes info-left-animation {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

/* Internet Explorer */
@-ms-keyframes info-left-animation {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

/* Opera < 12.1 */
@-o-keyframes info-left-animation {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

/* === INFO-RIGHT ANIMATION === */
@keyframes info-right-animation {
    from {
        opacity: 0;
        right: -100px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}

/* Firefox < 16 */
@-moz-keyframes info-right-animation {
    from {
        opacity: 0;
        right: -100px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes info-right-animation {
    from {
        opacity: 0;
        right: -100px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}

/* Internet Explorer */
@-ms-keyframes info-right-animation {
    from {
        opacity: 0;
        right: -100px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}

/* Opera < 12.1 */
@-o-keyframes info-right-animation {
    from {
        opacity: 0;
        right: -100px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}

/* === TITLE === */
@keyframes title-animation {
    from {
        opacity: 0;
        top: -100px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

/* Firefox < 16 */
@-moz-keyframes title-animation {
    from {
        opacity: 0;
        top: -100px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes title-animation {
    from {
        opacity: 0;
        top: -100px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

/* Internet Explorer */
@-ms-keyframes title-animation {
    from {
        opacity: 0;
        top: -100px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

/* Opera < 12.1 */
@-o-keyframes title-animation {
    from {
        opacity: 0;
        top: -100px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

.star-container{
    margin: 100px 0 0 100px;
}

#star {
    background: blue;
    width: 320px;
    height: 320px;
    position: relative;
   }
   #star:before, #star:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 320px;
    width: 320px;
    background: blue;
   }
   #star:before {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
   }
   #star:after {
    transform: rotate(60deg);   
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
   }

.credits {
    text-align: center;
    color: dimgrey;
}   

.futuro{
    position: relative;
    padding: 40px;
    font-size: 36px;
    z-index: 10;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: white;
}